﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bootstrap Example</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/BusinessComponents/Checks.js"></script>

    <script src="Scripts/jquery-1.9.1.js"></script>
    <link href="Content/bootstrap.css" rel="stylesheet" />-->


</head>
<body>
    <div ng-app="myApp">
        <div class="glyphicon col-lg-10 h3" ng-controller="Binder">

            <p>Print Checks- Checking</p>

            Check Number <input ng-model="Check.CheckNum" /> <br /> <br />

            <p> Select Checks </p>
            <input type="radio" name="SelectCheck" ng-init="SelectedCheck()" /> All Checks <br />
            <input type="radio" name="SelectCheck" /> Checks Date
            <select typeof="Date" name="SelectCheck" ng-model="Check" ng-options="Check as Check.Date for Check in Checks"></select> <br />

            <input id="radio3" type="radio" name="SelectCheck" value="Please Select" /> Selected Checks
            <select ng-model="Check" ng-options="Check as Check.CheckNum for Check in Checks"></select> <br /> <br />

            <!--<ul ng-repeat="c in Check"> <li>{{c.CheckNum}}</li></ul>-->
            Check Type
            <select class="glyphicon dropdown" id="Select1">
                <option ng-model="Check.CheckType">Standard</option>
                <option ng-model="Check.CheckType">Personal</option>
                <option ng-model="Check.CheckType">Business</option>
            </select><br /><br />
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Print Check</h4>
                        </div>
                        <div id="bodyModal" class="modal-body">
                            <hr />
                            <p><b>{{Check.CheckType}} Check</b></p><br />
                            Check Number {{Check.CheckNum}}<br />
                            Routing Number {{Check.RoutingNum}}<br />
                            Account Number {{Check.AccountNum}}<br />
                            On {{Check.Date}}<br />
                            Amount {{Check.Amount}}<br />
                            To Account Number {{Check.ToAccountNum}}<br />
                            <hr />

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="printToCart('bodyModal')">Print</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
