﻿<div class="container-fluid">
    <button href="#Foo1" class="btn btn-success" data-toggle="collapse">Add Account</button>
    <button href="#Bar" class="btn btn-primary" data-toggle="collapse">Manage Account</button>


    <div id="Foo1" class="collapse">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)">
            <div class="text-justify">
                <div class="form-group">
                    <h3 class="text-center" style="color:blue">Add New Account</h3>
                    <label for="exampleInputEmail1">Account Number</label>
                    <input type="number" class="form-control" id="exampleInputName2" ng-model="accno" placeholder="5423453" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Select Account Type : </label>
                    <select ng-model="acctype" ng-options="a.AccountType for a in accs" required>
                    <option value="">please select</option></select><br />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">Account Balance</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="12345" ng-model="accbal" required>
                </div>
                <div class="checkbox">
                    <label for="exampleInputPassword2">Active</label> 
                    <select ng-model="active" ng-options="a.Active for a in activaccs" ng-change="onchangeAddactive(active)" required>
                        <option value="">Select</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default" ng-click="Save()">Save</button>
            </div>
            </form>
</div>


    <div id="Bar" class="collapse">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <div class="text-justify">
                <div class="form-group">
                    <h3 class="text-center" style="color:blue">Manage Your Accounts</h3>
                    <label for="exampleInputEmail1">Account Number</label>
                    <select ng-model="accountNumber" ng-options="a.AccountNumber for a in accnums" ng-change="onAccnumberchange(accountNumber)" required>
                        <option value="">Select</option></select><br />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Account Type : </label>
                    <samp>{{ACCTTYPE}}</samp>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Account Balance : </label>
                    <samp>{{ACCTBAl}}</samp>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Active :    </label>
                    <select ng-model="active1" ng-options="a.Active for a in activaccs" ng-change="onchangeActive(active1)" required>
                    <option value="">Select</option></select><br />
                </div>
                <button type="submit" class="btn btn-default" ng-click="Update()">Update</button>
            </div>
            </form>
</div>
   
    

        <h3  class="text-center" style="color:blue">Your Accounts</h3>
        <div id="gridAcc"  ui-grid="gridOptions" class="ngRow"></div>
    </div>