﻿<div class="container-fluid">
    <button href="#Bar" class="btn btn-default" data-toggle="collapse">Income and Expenses Report</button>
    <button href="#Foo" class="btn btn-default" data-toggle="collapse">Net-Worth Report</button>
    <div id="Bar" class="collapse">
        <br />
        <br />
        <h2>Detailed Cash Flow</h2>
        <label>From  :</label><input type="date" ng-model="fromdate" id="fdt" />
        <label>To  :</label><input type="date" ng-model="todate" id="tdt" />
        <input type="button" value="Go" ng-click="Search()" />
        <div>            
            <h3>Expenses</h3>
            <div id="griddebt" ui-grid="gridDebit" class="ngRow"></div>
            <label style="align-content:center">Total Expenses :</label> <samp>{{SumDebt|currency}}</samp>
            <br />
            <br />
            <br />
            <h3>Income</h3>
            <div id="gridcredit" ui-grid="gridCredit" class="ngRow"></div>
            <label style="align-content:center">Total Income : </label><samp>{{SumCredit|currency}}</samp>
        </div>
    </div>
    <div id="Foo" class="collapse">
        <br />
        <br />
        <label> Net Worth :</label><samp>{{Netbal|currency}}</samp>
        <div ui-grid="gridAccs" class="ngRow"></div>
        <label> Total Account Balances for Checkings and Savings :</label>{{chksavbal|currency}}
        <br />
        <br />
        <div ui-grid="gridStcks" class="ngRow"></div>
        <label> Total Investments in Stocks :</label>{{stockbal|currency}}
        <br />
        <br />
        <div ui-grid="gridLoan" class="ngRow"></div>
        <label> Total Loan and Credit Cards Balance :</label>{{loanbal|currency}}
        </div>
    </div>
