﻿<div class="container-fluid">
    <div>
        <button href="#Bar" class="btn btn-primary" data-toggle="collapse">Buy New Stocks</button>

    <div id="Bar" class="collapse">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <div class="text-justify">
                <div class="form-group">
                    <label for="exampleInputEmail1">Stock Name</label>
                    <select ng-model="stkname" ng-options="a.name for a in stockdata" ng-change="stknamechange(stkname)" required>
                        <option value="">Select</option></select><br />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Stock Price : </label>
                    <samp>{{stckprice}}</samp>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Quantity :</label>
                    <input type="number" class="form-control" id="exampleInputName2" ng-model="quant" placeholder="100" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Account No :    </label>
                    <select ng-model="accountNumber" ng-options="a.AccountNumber for a in accnums" ng-change="onAccnumberchange(accountNumber)" required>
                        <option value="">Select</option>
                    </select><br />
                </div>
                <button type="submit" class="btn btn-default" ng-click="Update()">Buy</button>
            </div>
        </form>
    </div>
        </div>

    <h3>Your Stocks</h3>
    <div id="stgrid" ui-grid="gridStocks" class="ngRow"></div>
</div>
