﻿<div class="container-fluid">
    <div>
        <div class="form-group">
            <label for="exampleInputPassword1">Name     :</label>
            <samp>{{Name}}</samp>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Address   :</label>
            <samp><strong>{{Address}}</strong></samp>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Phone     :</label>
            <samp>{{Phone}}</samp>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Email    :</label>
            <samp>{{Email}}</samp>
        </div>
    </div>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Edit Profile</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Your Profile</h4>
            </div>
            <div id="bodyModal" class="modal-body">
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Full Name</label>
                    <div class="col-lg-8">
                        <input type="text"
                               class="form-control"
                               ng-model="Name"
                               ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Address</label>
                    <div class="col-lg-8">
                        <input type="text"
                               class="form-control"
                               ng-model="Address"
                               ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Phone</label>
                    <div class="col-lg-8">
                        <input type="number"
                               class="form-control"
                               ng-model="Phone"
                               ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-8">
                        <input type="email"
                               class="form-control"
                               ng-model="Email"
                               ng-required="true">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Save()" >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>