﻿<!DOCTYPE html>
<html>
<head>
    
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div ng-controller="TransactionsController" ng-init="getTran()">
        <p><b>Account Register Transactions</b></p>

        <!--<button ng-click="currentDateRange = dateRanges.all">show all</button>
        <button ng-click="currentDateRange = dateRanges.week">show week</button>
        <button ng-click="currentDateRange = dateRanges.month">show month</button>
        <button ng-click="currentDateRange = dateRanges.year">show year</button>-->
        <!--<input id="Button1" type="button" value="All" />
        <input id="Button1" type="button" value="Week" />
        <input id="Button1" type="button" value="Year" />-->

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Transaction</button> <br />

        <!--<div ng-model="search ='123123'" />-->

        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Transaction Type</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Transfer Date</th>
                    <th>Comments</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="T in Transactions">
                    <td>{{T.AccountNum}}</td>
                    <td>{{T.TransactionType}}</td>
                    <td>{{T.Description}}</td>
                    <td>{{T.Amount}}</td>
                    <td>{{T.TransferDate}}</td>
                    <td>{{T.Comments}}</td>
                    <td><input type="text" ng-change="Update(T.AccountNum, T.TransactionType, T.Description, T.Amount, T.TransferDate, T.Comments, T.Status, T.TransactionId)" ng-model="T.Status" class="form-control input-sm" /></td>
                </tr>
            </tbody>
        </table>


        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Transaction</h4>
                    </div>
                    <div id="bodyModal" class="modal-body">

                        <hr />
                        <input type="text" placeholder="Account Number" ng-model="Transactions.AccountNum" /><br />
                        <input type="text" placeholder="Description" ng-model="Transactions.Description" /><br />
                        <input type="text" placeholder="Transaction Type" ng-model="Transactions.TransactionType" /><br />
                        <input type="text" placeholder="Amount" ng-model="Transactions.Amount" /><br />
                        <input type="date" placeholder="Transfer Date" ng-model="Transactions.TransferDate" /><br />
                        <textarea placeholder="Comments" ng-model="Transactions.Comments"> </textarea><br />
                        <input type="text" placeholder="Status" ng-model="Transactions.Status" /><br />
                        <hr />

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-ng-click="AddNewTran()" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>
