﻿<div id="dvCarousel">
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Third Slide -->
            <div class="item active">
                <!-- Slide Background -->
                <img src="http://cananewsonline.com/main/wp-content/uploads/2017/07/bank4.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="slide-text slide_style_left">
                            <h1 data-animation="animated zoomInRight">Manage Your Finances</h1>
                            <p data-animation="animated fadeInLeft"></p>

                            <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->
            <!-- Second Slide -->
            <div class="item">
                <!-- Slide Background -->
                <img src="https://www.mindtree.com/sites/default/files/mt-web-industries-banking.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
                <div class="bs-slider-overlay"></div>
                <!-- Slide Text Layer -->
                <div class="slide-text slide_style_center">
                    <h1 data-animation="animated flipInX">Meet Our Advisor</h1>
                    <p data-animation="animated lightSpeedIn">Start Building Your Investments</p>

                    <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInDown">Investment Banking advisor</a>
                </div>
            </div>
            <!-- End of Slide -->
            <!-- Third Slide -->
            <div class="item">
                <!-- Slide Background -->
                <img src="http://altoday.com/wp-content/uploads/2016/02/stock-market.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
                <div class="bs-slider-overlay"></div>
                <!-- Slide Text Layer -->
                <div class="slide-text slide_style_right">
                    <h1 data-animation="animated zoomInLeft">Stock Trading</h1>
                    <p data-animation="animated fadeInRight">Easy Stock Trading</p>

                    <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">Stocks</a>
                </div>
            </div>
            <!-- End of Slide -->

        </div><!-- End of Wrapper For Slides -->
        <!-- Left Control -->
        <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <!-- Right Control -->
        <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div id="divExtra" class="row">
    <div class="col-md-4 ">
        <h2>Stock Management</h2>
        <p>
           Our bank makes it easy to trade your stock or buy new stocks that are trending in the
            market. Our Secure payment gateway provides you most reliable way to buy stock with ease.
        </p>
        <p><a class="btn btn-primary" ui-sref="StockManager">Stocks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Currency Converter</h2>
        <p>Currency converter helps you to quote your 
        money value in different Countries</p>
        <br />
        <p><a class="btn btn-primary" ui-sref="CurrencyConverter">Try It &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Print Checks</h2>
        <p>You can easily print your checks or view them online</p>
        <p><a class="btn btn-primary" ui-sref="PrintChecks">Checks &raquo;</a></p>
    </div>
</div>

