﻿
<!--modified by LNS it not good to have head body for partial pages. keep the necessary content in it-->
<form id="form1">
    <div class="container" ng-controller="currencyController">
        <div class="row">
            <div class="col-md-10">
                <h3 class="active" style="font-style:oblique; color:darkcyan">Currency Converter</h3>
                <table  class="table table-hover">
                    <tr>
                        <td>
                            <div class="form-group">
                                From Currency: <input class="form-control" ng-model="fromcurrval" style="width:initial" id="txtFromCurrency" type="text" name="number" is-number />
                            </div>
                        </td>
                        <td>
                            <select id="ddFromCurrency" class="dropdown" ng-model="fromcurrency" ng-change="update()">

                                <option class="dropdown-menu" value="USD">US Dollar</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                To Currency: <input class="form-control" ng-model="outcurrvalue" Text={{outcurrvalue}} + style="width:initial" id="txtToCurrency" type="text" name="number" readonly />
                            </div>
                        </td>

                        <td>
                            <select id="ddToCurrency" class="dropdown" ng-model="tocurrency" ng-change="update()">


                                <option value="JPY">JAPANESE YEN</option>
                                <option value="BGN">BULGARIAN LEV</option>
                                <option value="CZK">CZECH REPUBLIC KORUNA</option>
                                <option value="DKK">DANISH KRONE</option>
                                <option value="GBP">BRITISH POUND STERLING</option>
                                <option value="INR">INDIAN RUPEE</option>
                                <option value="HUF">HUNGARIAN FORINT</option>
                                <option value="CHF">SWISS FRANC</option>
                                <option value="CNY">CHINESE YUAN</option>
                                <option value="HKD">HONG KONG DOLLAR</option>
                                <option value="EGP">EGYPTIAN POUND</option>
                                <option value="PHP">PHILIPPINE PESO</option>
                            </select>
                        </td>
                    </tr>

                </table>
                <div>
                    <img src="Content/Images/loading.gif" width="50" height="50" alt="loading...." ng-show="loading" />
                </div>

            </div>
        </div>
    </div>
</form>