﻿<!DOCTYPE html>
<html ng-app="ExpensesApp">
<head>
    <title>Expenses Account Graphing</title>
	<meta charset="utf-8" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
    <!--<script src="Scripts/angular.js"></script>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js">//here </script>
    <script src="angular-chart.js"></script>
    <script src="Scripts/BusinessComponents/ExpensesAccount.js"></script>-->
</head>
<body ng-controller="expensesController">
    <h3>Expenses Account Graphing</h3>
        <table class="table table-responsive" style="position:center;width:100px;height:100px">
            <tr>
                <td colspan="4">
                    <input type="submit" value="Print Summary" id="btnPrint" ng-click="printToCart()" />
                </td>
            </tr>
            <tr>
                <td colspan="4" id="imgWrap" style="position: center; height:50px; width:50px">
                    <!--<p><button ng-click="requestData()">Spend Summuary</button></p>-->
                    Spend Summary: <img border="0" src="Content/Images/pie.jpg" alt="Spend Summary" width="35" height="35" ng-click="requestData()" />
                    <img border="0" src="Content/Images/download (1).jpg" alt="Spend Summary" width="35" height="35" ng-click="toggle()" />
                    <canvas  id="myCanvas1" class="chart chart-pie chart-xs" chart-labels="labels" chart-data="data" chart-colors="arrayColors2" chart-options="options"></canvas>

                    <canvas  style="position: center; height:500px; width:500px;max-width:500px;max-height:500px" id="myCanvas"></canvas>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    
                    
                </td>
            </tr>

        </table>
    
</body>
</html>
