﻿
    <div ng-app="myApp" class="container">
        <div class="glyphicon col-lg-10 h3" ng-controller="Binder">

            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron" style="align-content:center;">
                        <p>Print Checks- Checking</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="checkNumber">Check Number</label>
                </div>
                <div class="col-md-8">
                    <input type="number" class="form-control" id="checkNumber" placeholder="Enter Check Number" ng-model="Check.CheckNum" required/><br />
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <label> Select Checks </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="radio" name="SelectCheck" ng-init="SelectedCheck()" /> All Checks <br />
                </div>
                <div class="col-md-4">
                    <input type="radio" name="SelectCheck" /> Checks Date
                    <select typeof="Date" name="SelectCheck" ng-model="Check" ng-options="Check as Check.Date for Check in Checks"></select> <br />
                </div>
                <div class="col-md-4">
                    
                    <input id="radio3" type="radio" name="SelectCheck" value="Please Select" /> Selected Checks
                    <select ng-model="Check" ng-options="Check as Check.CheckNum for Check in Checks"></select> <br /> <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="checkNumber">Check Type</label>
                </div>
                <div class="col-md-8">
                    <select class="glyphicon dropdown" id="Select1">
                        <option ng-model="Check.CheckType">Standard</option>
                        <option ng-model="Check.CheckType">Personal</option>
                        <option ng-model="Check.CheckType">Business</option>
                    </select><br /><br />
                </div>
            </div>
            

            <!--<ul ng-repeat="c in Check"> <li>{{c.CheckNum}}</li></ul>-->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" >View</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Print Check</h4>
                        </div>
                       
                        <div id="bodyModal" class="modal-body">
                          
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>{{Check.CheckType}} Check</h3>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    Check Number
                                </div>
                                <div class="col-md-8">
                                    {{Check.CheckNum}}
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    Routing Number
                                </div>
                                <div class="col-md-8">
                                    {{Check.RoutingNum}}
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    Account Number
                                </div>
                                <div class="col-md-8">
                                    {{Check.AccountNum}}
                                </div>
                            </div>
                          <br />
                            <div class="row">
                                <div class="col-md-4">
                                    On 
                                </div>
                                <div class="col-md-8">
                                    {{Check.Date}}
                                </div>
                            </div>
                         <br />
                            <div class="row">
                                <div class="col-md-4">
                                    Amount
                                </div>
                                <div class="col-md-8">
                                    {{Check.Amount}}
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    To Account Number 
                                </div>
                                <div class="col-md-8">
                                    {{Check.ToAccountNum}}
                                </div>
                            </div>
                           <br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" ng-click="printToCart('bodyModal')">Print</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

