﻿<!DOCTYPE html>
<html>
<head>
    <title></title>

    
    
    
</head>
<body ng-controller="MyCtrl">
    <div id="example">
        <div>
            <div kendo-scheduler k-options="schedulerOptions">
                <span k-event-template class='custom-event'>{{dataItem.title}}</span>
                <div k-all-day-event-template class='custom-all-day-event'>{{dataItem.title}}</div>
            </div>
        </div>

        <style>
            .custom-event {
                color: #fff;
                text-shadow: 0 1px 0 #000;
            }

            .custom-all-day-event {
                text-align: center;
                text-transform: uppercase;
            }
        </style>
    </div>
</body>
</html>